body {
	background-color: lightblue;
	
	
}

#table {
	border: 2px solid black;
	width: 500px;
	height: 400px;
}


#coop {
	color: black;

}

#Menu a:link {
	color: white;
	text-decoration: none;
	
}

#Menu a:visited {
	color: white;
	text-decoration: none;
}

