#container {
border: 1px solid red;
width: 900px;
height: auto;
margin: auto;
}

#header {
	position: relative;
	height: 200px;
	width: 900px;
	border: 1px solid green;
	background-image: url(coop.jpg);
}

#menubar {
height: 50px;
width: 900px;
border: 1px solid blue;
}

.menulinks {

	height: 40px;
	text-align: center;
	border: #000;
}

.menulinks ul {
	margin: auto;

}

.menulinks li {
	padding: 2px 2px 2px 2px;
}

.menulinks li a {
	color: red;
}

#leftmargin {
float: left;
width: 150px;
border: 1px solid #000;
}

#rightmargin {
	float: right;
	width: 150px;
	border: 1px solid #000;

}

#mainbody {
	width: 594px;
	height: auto;
	border: 1px solid #F96;
	margin: auto;


}

#footer {
	clear: both;
	height: 50px;
	border: 1px solid #0F3;

}